:root {
  --primary-background-color: #0F0F0F;
  --secondary-background-color: #2e2e2e; /*3D3D40*/
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #aaa;
  --border-color: #555;
  --border: 1px solid #555;
  --hover-background: #2f2f30;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  user-select: none;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 100px;
}
* {
   margin: 0px;
   padding: 0px;
}